<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name = "Automation Test">
<test name = "Smoke Test">
<classes>
<class name = "testingFiles.Annot1"/>
<class name = "testingFiles.DependencyAnnot"/>
<class name = "testingFiles.Annotations"/>
</classes>
</test>
</suite>